uWSGI>=2.0.18,<2.1
drf-yasg==1.20.0
Django==3.1.2
djangorestframework==3.12.1
gunicorn==20.0.4 
whitenoise==5.2.0
psycopg2-binary==2.9.5
dj-database-url==0.5.0
django-cors-headers==3.5.0
dj-database-url==0.5.0
boto3==1.26.104
django-storages==1.12.3
python-decouple
varname==0.11.0
humanize==3.3.0
cloudinary==1.22.0
django-heroku==0.3.1
redis==4.5.4
coverage==7.2.2
drf_social_oauth2==1.0.9
social-auth-app-django==4.0.0